/* stylelint-disable selector-list-comma-newline-after */

/* .blog-header { */
  /* line-height: 1; */
  /* border-bottom: 1px solid #e5e5e5; */
/* } */
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
  url("../fonts/OpenSans-Regular.woff2") format('woff2'),
  url("../fonts/OpenSans-Regular.woff") format('woff'),
  url("../fonts/OpenSans-Regular.eot") format('eot');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.blog-header-logo {
  font-family: "Arial", "Times New Roman", sans-serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
}
.btn-primary {
  color: #000000;
  background-color: #ffffff;
  border-color: #010101; /*set the color you want here*/
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  border-color: rgb(255, 255, 255);
}
body {
  background-color:#fff;
  background-image:linear-gradient(135deg, transparent 0%, #ddf3f3 25%, #ddf3f3 75%, transparent 100%), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAIklEQVQoU2N89+7dfwYsQEhIiBEkzDgkFGDzAbIY2Cv4AACvrBgJjYNGfwAAAABJRU5ErkJggg==);
 
}
.custom-button:hover {
  color: #000000; /* Черный цвет текста при наведении */
}
.posicke {
width :100%!important
}

.position-sticke {
  position: -webkit-sticky; /* Для поддержки Safari */
            position: sticky;
            bottom: 0;
}
.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}
.news-text {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.custom-badge {
  border-width: 10px 30px;
}
.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}
.custom-container {
   display: flex;
  /* flex-wrap: wrap; */ 
  gap: 16px; /* Регулируйте значение, чтобы добавить промежуток между блоками */
}
.custom-container:hover {
  background-color: #c8e3e8 ;
}
.custom-badge {
  /* display: flex; */
  /* flex-wrap: wrap; */
  margin-right: 8px; /* Пространство между тегами */
  white-space: normal !important;
}
.interactive-link {
  color: rgb(0, 89, 255);
}
.nav-scroller {
  position: relative;

  height: 2.75rem;
  overflow-y: hidden;
}
.form-control::placeholder {
  text-decoration: none; /* Remove underline */
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  /* padding-bottom: 1rem; */
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  flex: 0 0 auto;
}
.outer-div {
  display: flex; /* Use flex layout */
  flex-direction: column; /* Arrange child elements vertically */
  align-items: stretch; /* Stretch child elements horizontally to fill the container */
}

/* Style for the inner div with class "col-md-12 px-0 flex-grow-1" */
.inner-div {
  flex: 1; /* Make this div grow to fill the available space */
  overflow: hidden; /* Hide any content that overflows */
}

/* Style for the <p> element with class "lead my-2" */
.lead {

  word-wrap: break-word;
  white-space: pre-wrap; /* Preserve whitespace and break lines */
  overflow-wrap: break-word; /* Wrap long words to prevent overflow */
 
}

    .hidden {
      display: none;
    }
.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
.morecontent span {
  display: none;
}
.morelink {
  font-weight: bold;
  color: #565656;
}
.tag-checkbox input[type="checkbox"] {
  display: none;
}
    /* Styling for the tag checkboxes */
.tag-checkbox {
  display: inline-block;
  margin-right: 10px;
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  position: relative; /* Add this line */
  color: #565656;
}

.tag-checkbox label {
  width: 100%; /* Add this line */
}

.tag-checkbox:hover {
  background-color: #e0e0e0;
}

/* Styling for selected checkboxes */
.tag-checkbox.checked {
  background-color: #000;
  color: white;
}

.tag-checkbox.checked:hover {
  background-color: #333;
}
.morecontent span {
  display: none;
}

.text_hide_wrap {
  max-width: 700px;
}

.item_text {
  width: 100%;
}

.item_text p {
  margin-bottom: 20px;
}

.io_item {
  width: 100%;
  padding-bottom: 20px;
}

.io_button_wrap {
  text-align: center;
  margin-top: 10px;
}

.io_button {
  display: inline-block;
  border: 1px solid #f00;
  width: auto;
  padding: 0 20px;
  line-height: 32px;
  vertical-align: top;
  text-transform: uppercase;
  color: #f00 !important;
  font-size: 10pt;
  border-radius: 22px;
  cursor: pointer;
}

a.io_button:hover {
  text-decoration: none;
}

.io_item .btn_close {
  display: none;
}

.io_item .btn_open {
  display: inline-block;
}

.io_item.open .btn_close {
  display: inline-block;
}

.io_item.open .btn_open {
  display: none;
}

.io_trans {
  width: inherit;
  position: absolute;
  height: 80px;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  transition: 1s;
}

.io_item.open .io_trans {
  height: 0;
  transition: 1s;
}

.io_item_wrap {
  position: relative;
  overflow: hidden;
  max-height: 100px;
  width: inherit;
  transition: max-height 0.5;
}
.io_item.open .io_item_wrap {
  max-height: 999px !important;
  transition: max-height 1s;
}

@media(min-width: 576px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 99%;
  }
}

@media(min-width: 768px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 99%;
  }
}
@media (min-width: 992px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 99%;
  }
}
@media (min-width: 1170px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 99%;
  }
}
@media (min-width: 1500px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 99%;
  }
}
@media (min-width: 1860px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1860px;
  }
}

@media (min-width: 2560px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 2560px;
  }
}
@media (min-width: 3840px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 3840px;
  }
}
/* html.modal-active, body.modal-active {
  overflow: hidden;
} */
#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 10;
}


#modal-container.two {
  transform: scale(1);
}

#modal-container.two .modal-background {
  background: rgba(0, 0, 0, 0);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

#modal-container.two .modal {
  height: auto;
  width: 980px;
  overflow: hidden;
  opacity: 0;
  animation: scaleUp 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}
@media (min-width: 2560px) {
  #modal-container.two .modal {
    width: 40%;
    height: auto;
  }
}
@media screen and (max-width: 1920px) {
  #modal-container.two .modal {
    width: 45%;
    height: auto;
  }
}
@media screen and (max-width: 1680px) {
  #modal-container.two .modal {
    width: 50%;
    height: auto;
  }
}
@media screen and (max-width: 1440px) {
  #modal-container.two .modal {
    width: 55%;
    height: auto;
  }
}
@media screen and (max-width: 1280px) {
  #modal-container.two .modal {
    width: 60%;
    height: auto;
  }
}
@media screen and (max-width: 1024px) {
  #modal-container.two .modal {
    width: 65%;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  #modal-container.two .modal {
    width: 70%;
    height: auto;
  }
}
@media screen and (max-width: 550px) {
  #modal-container.two .modal {
    width: 80%;
    height: auto;
  }
}
#modal-container.two + .content {
  animation: scaleBack 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

#modal-container.two.out {
  animation: quickScaleDown 0s 0.5s linear forwards;
}

#modal-container.two.out .modal-background {
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

#modal-container.two.out .modal {
  animation: scaleDown 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

#modal-container.two.out + .content {
  animation: scaleForward 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}

.modal {
  background: white;
  padding: 5px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
}

.modal h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
}

.modal p {
  font-size: 18px;
  line-height: 22px;
}

.modal .modal-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}

.modal .modal-svg rect {
  stroke: #c06969;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
}




.content {
  
  background: white;
  position: relative;
  z-index: 0;
}

.content h1 {
  padding: 75px 0 30px 0;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
}

.content .buttons {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.content .buttons .button {
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  margin: 10px;
  background-color: #efefef;
  font-size: 18px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.content .buttons .button:hover {
  color: white;
  background: #009bd5;
}


@keyframes unfoldIn {
  0% {
    transform:scaleY(.005) scaleX(0);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform:scaleY(1) scaleX(1);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(.005) scaleX(0);
  }
}

@keyframes zoomIn {
  0% {
    transform:scale(0);
  }
  100% {
    transform:scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform:scale(1);
  }
  100% {
    transform:scale(0);
  }
}

@keyframes fadeIn {
  0% {
    background:rgba(0,0,0,.0);
  }
  100% {
    background:rgba(0,0,0,.7);
  }
}

@keyframes fadeOut {
  0% {
    background:rgba(0,0,0,.7);
  }
  100% {
    background:rgba(0,0,0,.0);
  }
}

@keyframes scaleUp {
  0% {
    transform:scale(.8) translateY(1000px);
    opacity:0;
  }
  100% {
    transform:scale(1) translateY(0px);
    opacity:1;
  }
}

@keyframes scaleDown {
  0% {
    transform:scale(1) translateY(0px);
    opacity:1;
  }
  100% {
    transform:scale(.8) translateY(1000px);
    opacity:0;
  }
}

@keyframes scaleBack {
  0% {
    transform:scale(1);
  }
  100% {
    transform:scale(.85);
  }
}

@keyframes scaleForward {
  0% {
    transform:scale(.85);
  }
  100% {
    transform:scale(1);
  }
}

@keyframes quickScaleDown {
  0% {
    transform:scale(1);
  }
  99.9% {
    transform:scale(1);
  }
  100% {
    transform:scale(0);
  }
}

@keyframes slideUpLarge {
  0% {
    transform:translateY(0%);
  }
  100% {
    transform:translateY(-100%);
  }
}

@keyframes slideDownLarge {
  0% {
    transform:translateY(-100%);
  }
  100% {
    transform:translateY(0%);
  }
}

@keyframes moveUp {
  0% {
    transform:translateY(150px);
  }
  100% {
    transform:translateY(0);
  }
}

@keyframes moveDown {
  0% {
    transform:translateY(0px);
  }
  100% {
    transform:translateY(150px);
  }
}

@keyframes blowUpContent {
  0% {
    transform:scale(1);
    opacity:1;
  }
  99.9% {
    transform:scale(2);
    opacity:0;
  }
  100% {
    transform:scale(0);
  }
}

@keyframes blowUpContentTwo {
  0% {
    transform:scale(2);
    opacity:0;
  }
  100% {
    transform:scale(1);
    opacity:1;
  }
}

@keyframes blowUpModal {
  0% {
    transform:scale(0);
  }
  100% {
    transform:scale(1);
  }
}

@keyframes blowUpModalTwo {
  0% {
    transform:scale(1);
    opacity:1;
  }
  100% {
    transform:scale(0);
    opacity:0;
  }
}

@keyframes roadRunnerIn {
  0% {
    transform:translateX(-1500px) skewX(30deg) scaleX(1.3);
  }
  70% {
    transform:translateX(30px) skewX(0deg) scaleX(.9);
  }
  100% {
    transform:translateX(0px) skewX(0deg) scaleX(1);
  }
}

@keyframes roadRunnerOut {
  0% {
    transform:translateX(0px) skewX(0deg) scaleX(1);
  }
  30% {
    transform:translateX(-30px) skewX(-5deg) scaleX(.9);
  }
  100% {
    transform:translateX(1500px) skewX(30deg) scaleX(1.3);
  }
}

@keyframes sketchIn {
  0% {
    stroke-dashoffset: 778;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes sketchOut {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 778;
  }
}

@keyframes modalFadeIn {
  0% {
    background-color:transparent;
  }
  100% {
    background-color:white;
  }
}

@keyframes modalFadeOut {
  0% {
    background-color:white;
  }
  100% {
    background-color:transparent;
  }
}

@keyframes modalContentFadeIn {
  0% {
    opacity:0;
    top:-20px;
  }
  100% {
    opacity:1;
    top:0;
  }
}

@keyframes modalContentFadeOut {
  0% {
    opacity:1;
    top:0px;
  }
  100% {
    opacity:0;
    top:-20px;
  }
}

@keyframes bondJamesBond {
  0% {
    transform:translateX(1000px);
  }
  80% {
    transform:translateX(0px);
    border-radius:75px;
    height:75px;
    width:75px;
  }
  90% {
    border-radius:3px;
    height:182px;
    width:247px;
  }
  100% {
    border-radius:3px;
    height:162px;
    width:227px;
  }
}

@keyframes killShot {
  0% {
    transform:translateY(0) rotate(0deg);
    opacity:1;
  }
  100% {
    transform:translateY(300px) rotate(45deg);
    opacity:0;
  }
}

@keyframes fadeToRed {
  0% {
    background-color:rgba(black,.6);
  }
  100% {
    background-color:rgba(red,.8);
  }
}

@keyframes slowFade {
  0% {
    opacity:1;
  }
  99.9% {
    opacity:0;
    transform:scale(1);
  }
  100% {
    transform:scale(0);
  }
}
.carousel-container .carousel {
            display: none;
        }
        body {
          /* background:#f4f2f2; */
          /* background:#f7f5f5; */
          background:#f5f6f7;
        }

        /* Стили для блока-триггера */
        .carousel-container .carousel-trigger {
            cursor: pointer;
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
        }

        /* Стили для карусели */
        .carousel-container .carousel img {
            max-width: 100%;
            height: auto;
        }
        .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: rgba(0,0,0,0.5); /*затемнитефон*/
      }
 /* Стили для стрелочек при светлом фоне */
 .carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #000; /* Черный цвет иконок */
    border-radius: 40px;
  }

  /* Стили для текста "Previous" и "Next" при светлом фоне */
  .carousel-control-prev-icon .visually-hidden, .carousel-control-next-icon .visually-hidden {
    color: #000; /* Черный цвет текста */
    border-radius: 10px;
  }
  #two:hover {
    filter: brightness(0.8); /* Уменьшить яркость при наведении (0.8 - 80%) */
}
/* Стили, применяемые до ширины 760px */
.mynews {
  padding-left: 0;
}

/* Медиа-запрос для устройств с шириной менее 760px */
@media (max-width: 760px) {
  .mynews {
    padding-right:0 /* укажите желаемое значение или используйте initial для сброса на значение по умолчанию */;
  }
}
.divider {
  border-top: 1px solid #bfbfbf; /* Цвет и толщина линии */
  width: 80%; /* Ширина линии */
  margin: 20px auto; /* Отступы сверху и снизу, и автоматические отступы слева и справа для центрирования линии */
}